<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Map" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
        <ion-view view-title="Map View">
            <ion-content>
                <h2>map will be here</h2>
            </ion-content>
        </ion-view>
    </ion-tab>
    
    <ion-tab title="List" icon-on="ion-ios-list-outline" icon-off="ion-ios-list-outline">
        <ion-view view-title="List View">
            <ion-content>
                <h2>dzadz</h2>
            </ion-content>
        </ion-view>
    </ion-tab>
</ion-tabs>

