<!-- TODO: add http://ngmap.github.io/-->
<ion-view view-title="CoachDetail">
    <ion-content style="height: 100%;">
        <map id="map" center="-34.397, 150.644" zoom="8" >
            <marker position="-34.397,150.644" title="Hello World!">
                <info-window  position="-34.397,150.644">
                    <div ng-non-bindable>
                        <h4>i am a coach</h4>
                    </div>
                </info-window>
            </marker>


        </map>
    </ion-content>
</ion-view>
